/main.aux
/main.fdb_latexmk
/main.fls
/main.log
/main.out
/main.synctex.gz
/main.synctex.gz\(busy\)
/3 column.aux
/3 column.fdb_latexmk
/3 column.fls
/3 column.log
/3 column.out
/3 column.synctex.gz
/3 column.synctex.gz\(busy\)

